/*Grid styling*/

.grid {
  grid-gap: 10px;
  margin: 0 auto;
  min-width: 320px;
}

/*Home page grid styling*/
.grid-container {
  display:grid;
  grid-template-rows: 50px auto auto;
  grid-template-areas:
    "hd"
    "ct"
    "cd1"
    "cd2"
    "cd3"
    "ab"
  "ft";
}

/*Blog page grid styling.
Each blog page requires a slightly different grid because the 3 cards pointing
to the other blog pages at the bottom of each page have slightly different content.*/

.blog-grid-container {
  display:grid;
  grid-template-rows: 50px 300px auto;
  grid-template-areas:
    "hd"
    "ab"
    "ip"
    "ct"
    "cd1"
    "cd2"
    "cd3"
  "ft";
}

.blog-grid-container-2 {
  display:grid;
  grid-template-rows: 50px 300px auto;
  grid-template-areas:
    "hd"
    "ab"
    "ip"
    "ct"
    "cd0"
    "cd2"
    "cd3"
  "ft";
}

.blog-grid-container-3 {
  display:grid;
  grid-template-rows: 50px 300px auto;
  grid-template-areas:
    "hd"
    "ab"
    "ip"
    "ct"
    "cd0"
    "cd1"
    "cd3"
  "ft";
}

.blog-grid-container-4 {
  display:grid;
  grid-template-rows: 50px 300px auto;
  grid-template-areas:
    "hd"
    "ab"
    "ip"
    "ct"
    "cd0"
    "cd1"
    "cd2"
  "ft";
}

/*----------------------------------------------
*LARGER SCREENS*
------------------------------------------------*/

@media(min-width:700px) {

/*Grid styling for larger screens*/

  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px; 
    max-width: 1600px;
    grid-template-rows: 50px auto auto auto;
  }

/*Home page grid styling for larger screens*/

  .grid-container{
    display:grid;
    grid-template-rows: 50px 500px auto auto;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "ct ct ct ct ct ct"
    "cd1 cd1 cd1 cd2 cd2 cd2"
    "cd3 cd3 cd3 ab ab ab"
    "ft ft ft ft ft ft"; 
  } 

  /*Blog post pages grid styling*/

  .blog-grid-container{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "ab ab ab ab ab ab"
    "ip ct ct ct ct ct"
    "cd1 cd1 cd2 cd2 cd3 cd3"
    "ft ft ft ft ft ft"; 
  } 

  .blog-grid-container-2{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "ab ab ab ab ab ab"
    "ip ct ct ct ct ct"
    "cd0 cd0 cd2 cd2 cd3 cd3"
    "ft ft ft ft ft ft"; 
  } 

  .blog-grid-container-3{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "ab ab ab ab ab ab"
    "ip ct ct ct ct ct"
    "cd0 cd0 cd1 cd1 cd3 cd3"
    "ft ft ft ft ft ft"; 
  } 

  .blog-grid-container-4{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "ab ab ab ab ab ab"
    "ip ct ct ct ct ct"
    "cd0 cd0 cd1 cd1 cd2 cd2"
    "ft ft ft ft ft ft"; 
  } 
}

   