 /*Styling for the 3 smaller cards on the home index page*/

 .card {
    
  border-radius: 20px;
  padding: 15px;
  position: relative; /*Sets the reference point for position of the buttons on the cards. See related "absolute" position 
  of the card-button class below*/
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-size: cover;  
  color: white;
  box-shadow: 0 6px 6px grey;
}
 
.card0 {
  grid-area: cd0;
  background-image: url('../assets/purple-lines.jpg'); 
}

 .card1 {
  grid-area: cd1;
  background-image: url('../assets/purple-hexes.jpg'); 
}

.card2 {
  grid-area: cd2;
  background-image: url('../assets/purple-triangles.jpg');
 
}
.card3 {
  grid-area: cd3;
  background-image: url('../assets/purple-wavy.jpg'); 
}

.card-button {
  position: absolute;
  bottom: 0;
}
    
.card-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body {
  margin-bottom: 10px;
}

@media(min-width:700px) {
  .card {
    border-radius: 20px;
    height: 100%;
    background-size: cover;  
  }
}