/* Mobile first */

@import 'style.css'; /*Styles inherited from style.css and in turn style.css inherits from other style sheets*/

.author-bio {
  grid-area: ab;
  padding-bottom: 0px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.author-avatar {
  margin-right: 20px;
}

.author-avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.author-info {
  flex-grow: 1;
}

.social-links a {
  margin-right: 10px;
  text-decoration: none;
}

.social-links a:hover {
  color: #007bff;
}

/* Desktops*/
@media(min-width:700px) {
  .author-bio {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .content {
    margin-top: 0;
  }
  .img-panel {
    margin-top: 0px;
  }
}


    
  

